@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden !important;
  background-color: #0A0A0A;
  color: #f3f4f6;
}

#___next, main {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}